## SQLite with Python

- This project aims to exercise my knowledge of database handling using Python language.

@GuilhermeIram

## 1 - Loading the Libraries

In [1]:
import os
import sqlite3
import pandas as pd
import numpy as np
from numpy.random import randint, randn, rand
import matplotlib.pyplot as plt
%matplotlib notebook

## 2 - Making synthetic data

In [2]:
f = lambda x1, x2, x3: ((x1**3) / 10) - (x2**2) - x3 + round((rand() * 30), 2) # f(x1, x2, x3) = (x1^3 / 10) - x^2 - x3 + *noise*

In [3]:
m = 10
x1, x2, x3 = (randn(3, m) * 10).round(2)
id_db = np.arange(m)
y = f(x1, x2, x3).round(2)

In [4]:
dict_data = {'x1': x1, 'x2': x2, 'x3': x3, 'y': y}

In [5]:
data_df = pd.DataFrame(dict_data)
data_df.head()

      x1     x2     x3        y
0   9.93  -3.95   0.30   109.73
1  21.22  -8.11 -32.99   950.45
2   2.18   7.20  -4.18   -18.90
3 -22.06  16.26   3.29 -1313.49
4  -1.82  -1.14  -8.31    34.13

## 3 - SQLite commands using Python

In [6]:
def create_table(name='data'):
    c.execute(f"CREATE TABLE IF NOT EXISTS {name} (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,"\
    "x1 varFLOAT(8, 2), "\
    "x2 varFLOAT(8, 2), "\
    "x3 varFLOAT(8, 2), "\
    "y varFLOAT(8, 2))")

    
def data_insert_raw(x1, x2, x3, y, name="data"):
    c.execute(f"INSERT INTO {name} (x1, x2, x3, y) VALUES (?, ?, ?, ?)", 
              (x1, x2, x3, y))
    con.commit()
    
    
def read_all_data():
    c.execute("SELECT * FROM DATA")
    for raw in c.fetchall():
        print(raw)
        

def read_record(cond = - np.inf):
    c.execute(f"SELECT * FROM PRODUTOS WHERE valor > {cond}")
    for linha in c.fetchall():
        print(linha)      
        
def read_column(i_column):
    c.execute("SELECT * FROM DATA")
    for raw in c.fetchall():
        print(raw[i_column])  
        

def update_data(new_value = 0, cond = np.inf):
    c.execute(f"UPDATE produtos SET valor = {new_value} WHERE valor > {cond}")
    con.commit()
    
    
def remove_data(num):
    c.execute(f"DELETE FROM data WHERE valor = {num}")
    con.commit()
    

def remove_all_data(name="data"):
    c.execute(f"DELETE FROM {name}")
    con.commit()


def remove_db(name="dataStorage"):
    os.remove(f"{name}.db") if os.path.exists(f"{name}.db") else None

### 3.1 - Creating a Table with the data

In [7]:
con = sqlite3.connect('dataStorage.db')

In [8]:
c = con.cursor()

In [9]:
create_table("data")

### 3.2 - Data insertion

In [10]:
x1 = np.array([data_df['x1']]).reshape(-1, 1)
x2 = np.array([data_df['x2']]).reshape(-1, 1)
x3 = np.array([data_df['x3']]).reshape(-1, 1)
y = np.array([data_df['y']]).reshape(-1, 1)

In [11]:
for i in range(m):
    data_insert_raw(x1[i, 0], x2[i, 0], x3[i, 0], y[i, 0])

In [12]:
read_all_data()

(1, 9.93, -3.95, 0.3, 109.73)
(2, 21.22, -8.11, -32.99, 950.45)
(3, 2.18, 7.2, -4.18, -18.9)
(4, -22.06, 16.26, 3.29, -1313.49)
(5, -1.82, -1.14, -8.31, 34.13)
(6, 9.34, 2.09, -20.83, 125.66)
(7, 3.69, -8.05, 0.54, -32.6)
(8, 8.35, 3.49, 5.66, 68.1)
(9, -4.17, -19.28, 2.16, -353.41)
(10, -5.72, 11.41, 16.81, -137.99)

In [13]:
con.close()

In [14]:
#remove_db("dataStorage")